.nav__container{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: #ffd861;
    z-index: 2;
    ul{
        li{
            a{
                color: black;
                font-size: 20px;
            }
        }
    }
}